/* variables */
:root {
	/* logo colors */
	--viridian-green: #119DA4;
	--solid-pink: #6b131e;
	--rich-black: #080B0D;
	--gunmetal: #1F2D33;
	--honeydew: #F1FAEE;
	--black-shadows: #eed9d8;
	/* other */
	--background: white;
	--foreground: black;
}

html, body {
	height: 100%;
}

/* navbar styling */
nav.navbar {
	background-color: var(--rich-black);
	padding: 20px 20px;
	margin-bottom: 20px;
}
nav a img {
	display: inline;
	width: 50px;
}

/* general footer styling */
footer {
	position: relative;
	width: 100%;
	bottom: 0%;
	background-color: var(--gunmetal);
	color: white;
	padding: 20px 20px;
	margin-top: 20px;
}
footer section,
footer section div,
footer img {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
footer img {
	margin-right: 20px;
	width: 175px;
}
footer section#copyright {
	text-align: center;
}
footer h3 {
	color: var(--black-shadows);
}
footer a {
	text-decoration: none;
	color: white;
}
footer a:hover {
	color: var(--viridian-green);
}
footer section ul {
	list-style-type: none;
	padding-left: 0px;
}

/* color */
a {
	color: var(--solid-pink)
}
a:hover {
	color: #a04c56;
}

/* fonts */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
}
h2 {
	font-size: 2.1rem;
}
ol, ul, a, p {
	font-family: 'Lora', serif;
	font-size: 1.2rem;
}
nav a,
nav p,
footer a,
footer p {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.1rem;
}

/* spacing */
h2 {
	padding-bottom: 15px;
}
section ol {
	margin-left: 40px;
}

/* accessibility */
.hidden {
	border: 0;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.hidden:active, .hidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* index.html */
div.grayscale {
	position: relative;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	background-color: white;
	padding-top: 10px;
	text-align: right;
}
div.grayscale img {
	width: 300px;
}

/* defenses.html */
section#parking-tickets > ul > li {
	padding-bottom: 20px;
}